body, html {
  height: 100%;
}

.board {
  background-image: url("backgrounds/gb1.png");
  background-size: 1400px 1200px;
  background-repeat: no-repeat;
  background-color: black;
}

.key {
  background-color: gray;
  border: 5px solid yellow;
  position: fixed;
  width: auto;
  height: auto;
  top: 50;
  right: 50;
  left: 1450px;
  z-index: 10;
  padding: 10px;
}

.containter {
  position: absolute;
  margin-top: 100px;
  width: 2500px;
  height: 1500px;
  z-index: 9;
}

#row1 {
  margin-top: 100px;
}

.row {
  height: 90px;
  width: 1200px;
  position: relative;
  margin-left: 92px;
}

#row2 {
  margin-top: 10px;
}

#row3 {
  margin-top: 10px;
}

#row4 {
  margin-top: 10px;
}

#row5 {
  margin-top: 10px;
}

#row6 {
  margin-top: 10px;
}

#row7 {
  margin-top: 10px;
}

#row8 {
  margin-top: 10px;
}

#row9 {
  margin-top: 10px;
}

#row10 {
  margin-top: 10px;
}

.box {
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: thick;
  z-index: 8;
  text-align: center;
  width: 90px;
  height: inherit;
  float: left;
  vertical-align: initial;
}

.start {
  background-color: yellow;
  width: 190px;
}

.spacer {
  height: inherit;
  width: 100px;
  float: left;
}

.lesson {
  background-color: white;
  width: 190px;
}

.coding1 {
  background-color: orange;
  width: 190px;
}

.regular {
  background-color: lime;
}

.quiz {
  background-color: red;
  width: 190px;
}

.group {
  background-color: pink;
}

.github {
  background-color: blue;
  color: white;
  width: 190px;
}

.lab {
  background-color: purple;
  color: white;
  width: 190px;
}

.ap {
  background-color: #1F618D;
  color: white;
  width: 190px;
}

.group {
  background-color: #48C9B0;
  color: black;
  width: 190px;
}

.titleTop {
  background-color: black;
  color: yellow;
  border-color: yellow;
  border-bottom: thick solid black;
  width: 490px;
}

.titleBottom {
  background-color: black;
  color: yellow;
  border-color: yellow;
  border-top: thick solid black;
  width: 490px;
}

img {
  max-height: 100px;
  width: auto;
}

#avatar1 {
  position: absolute;
  z-index: 9;
  < !-- background-color: #f1f1f1;
  -->text-align: center;
  < !-- border: 1px solid #d3d3d3;
  -->
}

#avatar2 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar3 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar4 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar5 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar6 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar7 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar8 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar9 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#blank {
  position: absolute;
  z-index: 9;
  < !-- background-color: #f1f1f1;
  -->text-align: center;
  < !-- border: 1px solid #d3d3d3;
  -->
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  < !-- background-color: #2196F3;
  -->color: #fff;
}

.bg {
  /* The image used */
  background-image: url("CSA_sprint4.png");
  /* Full height */
  height: 140%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottom {
  position: relative;
  margin: 0;
  width: 100%;
  clear: both;
  height: 30px;
}
