body, html {
  height: 100%;
}

.board {
  background-image: url("backgrounds/gb1.png");
  background-size: 1400px 1200px;
  background-repeat: no-repeat;
}

.row {
  height: 90px;
  width: 1200px;
  position: absolute;
  margin-left: 92px;
}

#r1 {
  margin-top: 90px;
}

#r2 {
  margin-top: 190px;
}

#r3 {
  margin-top: 290px;
}

#r4 {
  margin-top: 390px;
}

#r5 {
  margin-top: 490px;
}

#r6 {
  margin-top: 585px;
}

#r7 {
  margin-top: 690px;
}

#r8 {
  margin-top: 790px;
}

#r9 {
  margin-top: 890px;
}

#r10 {
  margin-top: 990px;
}

#r11 {
  margin-top: 1090px;
}

.box {
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: thick;
  z-index: 8;
  text-align: center;
  width: 90px;
  height: inherit;
  float: left;
}
.start {
  background-color: yellow;
  width: 190px;
}
.spacer {
  height: inherit;
  width: 100px;
  float: left;
}

.lesson {
  background-color: white;
}

.lesson {
  background-color: white;
  width: 180px;
}

.regular {
  background-color: lightGreen;
}

.quiz {
  background-color: red;
}

.group {
  background-color: pink;
}

img {
  max-height: 100px;
  width: auto;
}

#avatar1 {
  position: absolute;
  z-index: 9;
  < !-- background-color: #f1f1f1;
  -->text-align: center;
  < !-- border: 1px solid #d3d3d3;
  -->
}

#avatar2 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar3 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar4 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar5 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar6 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar7 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar8 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#avatar9 {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#blank {
  position: absolute;
  z-index: 9;
  < !-- background-color: #f1f1f1;
  -->text-align: center;
  < !-- border: 1px solid #d3d3d3;
  -->
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  < !-- background-color: #2196F3;
  -->color: #fff;
}

.bg {
  /* The image used */
  background-image: url("CSA_sprint4.png");
  /* Full height */
  height: 140%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottom {
  position: relative;
  margin: 0;
  width: 100%;
  clear: both;
  height: 30px;
}
